{% extends "header.html" %}


{% block content %}
    

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ url_for('static',filename = 'img/building-header.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>To Be Frank</h1>
                        <hr class="small">

                        <span class="subheading">Thoughts on Software and English Learning</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for t in title_list %}
                    <div class="post-preview">
                        <a href="{{ url_for('post', post_name= t['title'] )}}">
                            <h2 class="post-title">
                                {{ t["title"] }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ t["subtitle"] }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#">{{ t["author"] }}</a> on {{ t["date_time"] }}</p>
                    </div>
                <hr>
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="/all_posts/">All My Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}

