{% extends "header.html" %}


{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ url_for('static',filename = 'img/post-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.sub_title }}</h2>
                        <span class="meta">Posted by <a href = "{{ url_for('blog.author_for_post',author = post.author)}}">{{ post.author }}</a> on {{ post.date_time }}
                        </span>
                        <br>
                        <span class="meta">
                        {% for tags in post.tags %}
                            <a href="{{ url_for('blog.posts_for_tag',select_tag=tags.tag_name)}}"><span class="label label-default">{{ tags.tag_name }}</span></a>
                        {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <p> {{e}} </p>
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ post.post_content|safe }}
                </div>
            </div>
        </div>
    </article>

    <hr>


{% endblock %}

