{% extends "header.html" %}


{% block content %}

 <header class="intro-header" style="background-image: url('{{ url_for('static',filename = 'img/home-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Register</h1>
                        <hr class="small">
                        <span class="subheading">Do it Now!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<body>

	<div class = "container">
		<h2> Register</h2>
		<br>
		{% from "_formhelper.html" import render_field %}
		<form method = post action= "/register/">
			<dl>
				{{render_field(form.username) }}
				{{render_field(form.email) }}
				{{render_field(form.password) }}
				{{render_field(form.confirm) }}
				{{render_field(form.accept_tos) }}
			</dl>
			<p><input type = submit value = Register></p>
		</form>

		{% if error %}
		<p class = "error"><strong>Error:</strong>{{ error }}</p>
		{% endif %}
	</div>

</body>

{% endblock %}